.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 50% */
input[type=text]:focus {
    width: 50%;
}
.results{
	border: 1px;
	border-color: black;
	border-width: 100%;
}